httpx
pyperclip
pyotp
asyncio
winregistry
psutil
pypiwin32==223
pycryptodome
pyinstaller>=5.0
PIL-tools
threaded
requests
datetime
colorama
pillow
customtkinter
pyfiglet
tqdm
pypresence